* {
  margin: 0;
  padding: 0;
}

h2 {
margin-bottom: 10px;
}

h1, h2, p {
  color: white;
}

#root {
  background-color: black;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

section {
  margin: 15px 0;
}

